# Built application files
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/captures/
.externalNativeBuild/

# Gradle
.gradle/
build/

# Android Studio
.idea/
*.iml

# Java
*.class

# Kotlin
*.kotlin_module

# Others
*.log
